!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "Beer Inventory"
    = stylesheet_link_tag    "application"
    = javascript_include_tag "vendor/modernizr"
    = csrf_meta_tags

  %body
    %nav.top-bar{"data-topbar" => ""}
      %ul.title-area
        %li.name
          %h1
            %a{href: "#"} Beer Inventory
        %li.toggle-topbar.menu-icon
          %a{href: "#"}
            %span Menu
      %section.top-bar-section
        %ul.right
          %li.active
            = link_to '#' do
              %strong= Sidekiq::Workers.new.size
              batches in progress

        %ul.left
          %li= link_to 'Inventory', brands_path
          %li= link_to 'Kettles', kettles_path
          %li= link_to 'Log', brew_logs_path
    %section.row
      .large-12.columns
        - flash.each do |name, msg|
          - if msg.is_a?(String)
            .alert-box.radius{ class: name == 'notice' ? 'notice' : 'alert' }
              = msg
        = yield
      = javascript_include_tag "application"
